/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.ansering-list {
  padding-top: 2rem;
}

.card {
  background-color: #eee;
  border-radius: .4rem;
  text-align: center;
  padding: 1rem;
}

.card a.button {
  display: block;
}

.card .title {
  margin: 1rem 0;
}
